<div class="big">
    <table class="menu">
        <tbody>
            <tr>
                <td><input type="button" value="Inventory"></td>
                <td><input type="button" value="Grocery List"></td>
            </tr>
        </tbody>
    </table>
    <!--<h3 ng-controller="Greet" class="greet">{{greeting}}</h3>-->
<br /><br /><br />
<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Units</th>
            <th>Location</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of foods">
            <td>{{ food.item }}</td>
            <td>{{ food.qty }}</td>
            <td>{{ food.units }}</td>
            <td>{{ food.location }}</td>
            <td>{{ food.expires | date: "shortDate" }}</td>
        </tr>
        <tr>
            <td>TEST</td>
            <td>4</td>
            <td>Each</td>
            <td>Counter</td>
            <td>5/16/2023</td>
        </tr>
    </tbody>
</table>
</div> <!-- End of big giant div -->